@use "base" as *;

.header {
  position: relative;
  z-index: 3;
  background-color: $color-white;
  box-shadow: 0 0 10px #e2e2e2;
  height: 10vh;
  width: 100%;

  &-sticky {
    position: fixed !important;
    top: -15vh;
    box-shadow: none;

    &-mobile {
      top: 0;
      position: fixed;
    }

    &-animation {
      top: 0;
      transition: top 0.3s ease-in-out;
    }

    &-shadow {
      display: none;
      position: fixed;
      height: 10vh;
      width: 100%;
      box-shadow: 0 0 10px #e2e2e2;
      z-index: 2;
      pointer-events: none;
    }
  }

  &__inner-wrap {
    display: flex;
    align-items: center;
    max-width: $max-container-width;
    padding-inline: $default-horizontal-container-padding;
    height: 100%;
    margin: 0 auto;

    @media (width > $bp-normal) {
      justify-content: space-between;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;

    @media (width < $bp-normal) {
      max-width: 150px;
    }
  }

  &__nav {
    display: flex;
    gap: 50px;
    margin: 0;

    @media (width < $bp-normal) {
      display: none;
    }

    &-item {
      font-weight: 600;
    }
  }

  &__mobile {
    margin: 0px 40px 0 20px;

    @media (width > $bp-normal) {
      display: none;
    }

    &-hamburger {
      position: relative;
      z-index: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-line {
        position: absolute;
        width: 25px;
        height: 3px;
        background-color: $color-black;
        transition: rotate 0.3s ease;
        z-index: 3;

        &:first-child {
          top: 2px;
        }

        &:last-child {
          top: -7px;
        }
      }
    }

    &-menu {
      position: fixed;
      overflow: scroll;
      top: 0;
      left: -100%;
      z-index: 2;
      height: 120vh;
      width: 90vw;
      background-color: $color-white;
      padding: 100px 20px 0 20px;
      box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.4);
      opacity: 0;
      pointer-events: none;
      transition: left 0.3s ease-in-out, opacity 1s 0.3s;

      &--active {
        opacity: 1;
        pointer-events: auto;
        left: 0;
        transition: left 0.3s ease-in-out;
      }

      &-background {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.1s ease-in-out;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        width: 110%;
        height: 110%;
        background-color: rgba(0, 0, 0, 0.5);

        &--active {
          opacity: 1;
          pointer-events: auto;
          transition: opacity 0.2s ease-in-out;
        }
      }
    }

    &-nav {
      padding-left: 0px;
      &-item {
        font-weight: 500;
        margin-bottom: 20px;
      }
    }

    &-content {
      max-width: 45ch;
    }
  }
}

.hamburger-active-line {
  &-top {
    rotate: 135deg;
    top: -2.5px !important;
  }
  &-bottom {
    rotate: -135deg;
    top: -2.5px !important;
  }
}
